* {
    appearance: none;
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    text-align: center;
}
a {
    text-decoration: none;
}
#top-nav-main {
    display: flex;
}
.top-left {
    float: left;
}
.top-right {
    float: right;
}
.top-left .top-right {
    display: block;
}
#apps {
    height: 1.5rem;
    width: auto;
    opacity: 0.5;
}
#sign-in {
    background-color: blue;
    color: white;
}
#search-box {
    border: 1px solid rgb(151, 147, 147);
}
.bottom-nav {
    text-decoration: none;
}
