* {
    appearance: none;
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    text-align: center;
}
.top-nav {
    text-decoration: none;
}
#apps {
    height: 1.5rem;
    width: auto;
}
#sign-in {
    background-color: blue;
    color: white;
}
.bottom-nav {
    text-decoration: none;
}
